<figure>
    <p class="center-text">
        <a href="{{ site.baseurl }}/index.html">Home</a> |
        <a href="{{ site.baseurl }}/pages/data.html">Speeches</a> |
        <a href="{{ site.baseurl }}/pages/dec.html">The Declaration</a> |
        <a href="{{ site.baseurl }}/pages/conclusion.html">Signers</a> |
        <a href="{{ site.baseurl }}/pages/methodology.html">Text Analysis</a> |
        <a href="{{ site.baseurl }}/pages/visualizations.html">Mapping</a> |
        <a href="{{ site.baseurl }}/pages/conclusion.html">Conclusion</a> |
    </p>
</figure>
